body{
	background-color: #000001;
	margin: 0px;
}
h1{
	padding-top: 5%;
	text-align: center;
	color: #fff;
}
hr{
	width: 25%;
}
.header{
	width: 100%;
	height: 200px;	
	background-color: #151414;
    margin-top: -20px;
}