* {
    padding: 0;
    margin: 0;
}

body {
  overflow-x: hidden;
}

a, a:hover {
    text-decoration: none;
    transition: color .5s ease-in-out;
}

a:hover {
  color: #FAB503;;
}

.yellow-btn {
  padding: 8px 20px;
  background: #FAB503;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  transition: color .5s ease-in-out;
}

.yellow-btn:hover {
  color: #000;
}

img {
  width: 100%;
  max-height: 100%;
}

h2 {
  position: relative;
  padding-left: 30px;
}

h2:before {
  content: "";
  display: block;
  width: 2px;
  background: #FFC300;
  height: 35px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  margin: auto;
}



 /* header */
.header-wrapper {
  position: fixed;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  z-index: 9999;
}

.nav-colored {
  background-color: #000;
  height: 55px;
}
 
.header-wrapper__logo {
  width: 20%;
}

.header-wrapper__logo img {
  max-width: 150px;
}

.header-wrapper__contacts {
  width: 20%;
  padding-left: 30px;
}

.header-wrapper__contacts a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;  
} 

.header-wrapper__contacts a::before {
  content: "";
  background: url(../img/Icons/Phone.svg) no-repeat center;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header-wrapper__menu {
  width: 60%;
  display: flex;
}

.header-wrapper__menu ul{
  list-style: none;
  overflow: overlay;
  margin: auto;
}

.header-wrapper__layout {
    position: absolute;
    left: -300px;
    transition: left .5s ease-in-out;
}

.header-wrapper__menu li {
  margin-right: 30px;
  text-align: center;
  float: left;
}

.header-wrapper__menu li:last-child {
  margin-right: 0;
}

.header-wrapper__menu li a {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.header-wrapper__menu li:hover a {
  color: #FFC300;
}


.burger-menu {
  z-index: 9999;
  display: none;
}
  
.burger-menu__lines {
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.burger-menu__lines,
.burger-menu__lines:before,
.burger-menu__lines::after {
  width: 30px;
  height: 2px;
  display: inline-block;
  background: #fff;
}
.burger-menu__lines:before {
  content: "";
  position: absolute;
  top: -10px;
  transition: all .5s ease-in-out;
}
.burger-menu__lines::after {
  content: "";
  position: absolute;
  bottom: -10px;
  transition: all .5s ease-in-out;
}

.burger-menu__lines.active {
  height: 0;
}

.burger-menu__lines.active:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(-45deg);
}

.burger-menu__lines.active:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(45deg);
}

main{
  overflow-x: hidden;
}

/* main */
.hero-banner {
    background: url(../img/background.jpg) no-repeat center / cover;
    width: 100%;
    height: 730px;
    margin-top: -10px;
}

.full-heigh {
  height: 100%;
  display: flex;
  position: relative;
}

.hero-banner__text {
  margin: auto 0;
}

.hero-banner h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.hero-banner p {
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 500px;
}

.hero-banner a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  color: #FFFFFF;
  border: 2px solid #FFC300;
  box-sizing: border-box;
}


.hero-banner__soc-icons {
  position: absolute;
  bottom: 40px;
  left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero-banner__soc-icons-item {
  margin-right: 20px;
}

.hero-banner__soc-icons-item img{
  background: #ffffff21;
  border-radius: 35px;
}

/* whywe-title */

.whywe{
  height: 395px;
  padding-top: 150px;
  padding-bottom: 200px;
}

.whywe-title h2 {
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}

.whywe-btn {
  display: flex;
  justify-content: flex-end;
}

.whywe-btn a {
  padding: 8px 20px 8px 25px;
  background: #FFC300;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}

.whywe-bg {
  background: url(../img/background2.jpg) no-repeat center;
  background-size: cover;
  padding: 230px 0;
}

.whywe-bg__blocks {
  margin-top: -360px;
}

.whywe-bg__blocks-item {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 24px rgba(14, 36, 58, 0.08);
}


.whywe-bg__blocks-item h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.whywe-bg__blocks-item p {
  font-size: 14px;
  line-height: 24px;
  color: #7C7B7B;
}

/* what-included */
.what-included {
  padding-bottom: 100px;
  background: #000;
}

.what-included h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 95px;
}

.what-included__text p{
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
}

.what-included__text {
  display: flex;
  height: 100%;
}
.what-included__btn a{
  margin: auto;
  padding: 8px 23px;
  background: #FAB503;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  border: 2px solid #FAB503;
}

.what-included__lines {
  position: relative;
  margin: 105px auto;
  width: 80%;
  height: 2px;
  background: #202020;
}
.what-included__lines-item {
  position: absolute;
  width: 3px;
  height: 65px;
  background: #202020;
  display: block;
  position: absolute;

}
.what-included__line-1 {
  top: -65px;
  left: 0;
}

.what-included__line-2 {
  top: -65px;
  left: 300px;
}

.what-included__line-3 {
  top: -65px;
  right: 300px;
}

.what-included__line-4 {
  top: -65px;
  right: 0;
}

.what-included__line-5 {
  bottom: -65px;
  left: 300px;
}

.what-included__line-6 {
  bottom: -65px;
  right: 300px;
}

.what-included__line-7 {
  bottom: -65px;
  right: 0px;
}

/* auctions */

.auctions {
  position: relative;
  padding-top: 125px;
  padding-bottom: 70px;
}

.auctions::after {
  content: "";
  position: absolute;
  top: -170px;
  right: 0;
  display: block;
  width: 825px;
  height: 548px;
  background: url(../img/mustang_PNG25\ 1.png) no-repeat right;
}

.auctions h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 25px;
}

.auctions-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.auctions-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.auctions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.auctions-wrapper__left,
.auctions-wrapper__right {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.auctions-wrapper__right {
  margin-top: 70px;
}

.auctions-item {
  margin-bottom: 30px;
  padding: 25px;
}

.auctions-item img {
  width: 30%;
}

.auctions-item p {
  width: 60%;
  font-size: 14px;
  line-height: 24px;
  color: #7C7B7B;
}

/* delivery */
.delivery {
  background: url(../img/Group.png) no-repeat right 55px;
  background-color: #000;
  padding: 120px 0 150px;
  position: relative;
}

.delivery::after {
  content: "";
  background: url(../img/car-png-images-1\ 1.png) no-repeat center / cover;
  width: 630px;
  height: 320px;
  position: absolute;
  bottom: -80px;
  right: 0;
}

.delivery h2 {
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 95px;
}

.delivery-content__item {
  margin-bottom: 50px;
}

.delivery-content__item h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.delivery-content__item p {
  font-size: 14px;
  line-height: 24px;
  color: #B7B7B7;
}

.delivery-btn {
  display: flex;
  height: 100%;
}

.delivery-btn .yellow-btn{
  margin: auto;
}

.mobile-btn {
  display: none;
}

/* reviews */

.reviews {
  position: relative;
  padding: 150px 0 210px;
}

.reviews-title h2{
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}

.reviews-btn {
  display: flex;
  justify-content: flex-start;
}

.reviews-btn .yellow-btn{
  margin-left: auto;
}

.reviews::before{
  content: "";
  background: url(../img/Vector.png) no-repeat;
  width: 195px;
  height: 650px;
  position: absolute;
  top: 0px;
  left: 25%;
  margin: auto;
}

.reviews .swiper-button-next {
  right: 60px;
}

.reviews .swiper-button-prev {

}

.swiper-container {
  width: 100%;
  height: 100%;
}

.reviews-slider {
  margin-top: 60px;
  padding-bottom: 35px;
  width: 1550px;
  overflow-y: hidden;
  overflow-x: hidden;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  width: 60%;
}

.swiper-slide  iframe{
  width: 100%;
}

.swiper-slide  p {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}


.swiper-button-next:after, .swiper-button-prev:after {
  content: none;
}

.swiper-button-next svg, .swiper-button-prev svg {
  border: 2px solid #FFC300;
  border-radius: 100px;
  padding: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFC300;
  border-radius: 100px;
  width: 15px;
}

.swiper-pagination-bullet {
  background: #202020;
  opacity: 0.6;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-next, .swiper-button-prev {
  top: calc(50% - 25px);
  width: 45px;
  height: 45px;
  outline: none;
}

.swiper-button-disabled {
  display: none;
}


/* cars-gallery */
.cars {
  position: relative;
  background: #000;
  padding: 120px 0 120px;
}

.cars:before {
  content: "";
  position: absolute;
  left: 15%;
  top: 100px;
  background: url(../img/global-auto-logo-white.svg) no-repeat center / cover;
  width: 575px;
  height: 205px;
  display: block;
  opacity: 0.8;
}

.cars-gallery {
  position: relative;
  padding-bottom: 65px;
}

.cars-gallery__wrapper-text {
  text-align: left;
}

.cars-gallery__wrapper-text h2{
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  color: #FFFFFF;
  padding-left: 0;
}

.cars-gallery__wrapper-text h2::before{
  display: none;
}

.cars-gallery__wrapper-text p{
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 40px;  
}

.cars .gallery-button-prev {
  right: 60px;
}

.cars .gallery-button-prev {
  left: 60px;
}

/* contacts */
.contacts {
  background: #FFC300;
  position: relative;
  padding-bottom: 90px;
}

.contacts:before {
  content: "";
  background: #151515;
  display: block;
  width: 45%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contacts:after {
  content: "";
  background: url(../img/Vector2.png) no-repeat right top;
  position: absolute;
  background-size: contain;
  right: -40px;
  top: 80px;
  width: 590px;
  height: 100%;
  max-height: 370px;
  display: block;
  transform: rotate(-15deg);
  z-index: 0;
}

.contacts-content {
  padding-top: 80px;
}

.contacts-content h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.contacts-content ul{
  margin: 0;
  list-style: none;
}

.contacts-content a {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.contacts-content__mail {
  margin: 25px 0 30px;
}

.contacts-content__address {
  margin-bottom: 45px;
}

.contacts-content p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.contacts-content p span {
  display: block;
}

.contacts-content .transperent-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 10px 40px;
  border: 2px solid #FFC300;
  transition: background .5s ease-in-out;
}

.contacts-content .transperent-btn:hover {
  background: #FAB503;
}

.contacts-images::before {
  content: "";
  background: url(../img/PhoneMockup.png) no-repeat center / cover;
  width: 240px;
  height: 460px;
  display: block;
  position: absolute;
  top: -47px;
  left: -130px;
  right: 0;
  margin: auto;
  z-index: 7;
}

.contacts-images::after {
  content: "";
  background: url(../img/PhoneMockup2.png) no-repeat center / cover;
  width: 240px;
  height: 460px;
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
}

.footer {
  padding: 10px 0;
  background: #000;
}

.align-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-logo img{
  max-width: 130px;
}

.footer-copyright {
  justify-content: center;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 24px;
  color: #B7B7B7;
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.footer-social ul {
  list-style: none;
  margin-bottom: 0;
}

.footer-social ul li {
  float: left;
  margin: 0 10px;
}

.footer-social img{
  width: 40px;
  height: 40px;
}
