@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('Ubuntu-Bold.ttf');
	src: local('Ubuntu-Bold')
		 format('truetype');
}
@font-face {
	font-family: 'Ubuntu-BoldItalic';
	src: url('Ubuntu-BoldItalic.ttf');
	src: local('Ubuntu-BoldItalic')
		 format('truetype');
}
@font-face {
	font-family: 'Ubuntu-Italic';
	src: url('Ubuntu-Italic.ttf');
	src: local('Ubuntu-Italic')
		 format('truetype');
}
@font-face {
	font-family: 'Ubuntu-Light';
	src: url('Ubuntu-Light.ttf');
	src: local('Ubuntu-Light')
		 format('truetype');
}
@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('Ubuntu-Medium.ttf');
	src: local('Ubuntu-Medium')
		 format('truetype');
}
@font-face {
	font-family: 'Ubuntu-MediumItalic';
	src: url('Ubuntu-MediumItalic.ttf');
	src: local('Ubuntu-MediumItalic')
		 format('truetype');
}
@font-face {
	font-family: 'Ubuntu-Regular';
	src: url('Ubuntu-Regular.ttf');
	src: local('Ubuntu-Regular')
		 format('truetype');
}