.main-menu{
background-color: #469437;
width: 100%;
height: 47px;
text-align: center;
}
.logo{
padding-left: 140px;
padding-top: 25px;
z-index: 9;
position: absolute;
}
.main-menu ul li{
float: left;
list-style: none;
margin-top: 12px;
}
.main-menu ul li a{	
color: #fff;
padding: 8px;
}
.flag{
margin-right: 130px;
margin-top: 12px;
}
.flag i{
color: #fff;
}

@media (max-width: 550px) {
.main-menu{
	width: 100%;
	height: 170px;
	padding-left: 5px;
	}
.main-menu ul{
	margin-top: 90px;
	}
.logo{
	margin-right: 105px;	
	}
.flag{
	padding-left: 345px;
	padding-top: 30px;
	position: absolute;
	}
.flag i{
	color: #fff;
		}
.content-image img{
	height: 220px;
	}
}
.content-image img{
width: 100%;
}
.content-image_item-h1{
position: absolute;
color: #fff;
padding-left: 31%;
padding-top: 6%;
width: 70%;
text-align: center;
}
.content-image_item-h3{
position: absolute;
color: #fff;
padding-left: 20%;
padding-top: 5%;
width: 31%;
transform: rotate(-17deg);
}

.flags{
width: 15%;
margin-left: 45%;
margin-top: 17%;
position: absolute;
}
.flags :first-child{
width: 32%;
position: absolute;
}
.flags :last-child{
width: 57%;
position: absolute;
margin-left: 46px;
}
@media (max-width: 550px) {
	.content-image_item-h1{
	font-size: 15px;
    padding-top: 47px;
	}
	.content-image_item-h3{
	width: 40%;
	font-size: 13px;
	}
	.flags{
	width: 15%;
    margin-left: 36%;
    margin-top: 40%;
    position: absolute;
	}
	.flags :first-child{
	width: 62px;
    height: 49px;
    position: absolute;
	}
	.flags :last-child{
	width: 85px;
    height: 60px;
    position: absolute;
    margin-left: 46px;
	}
	.second-block img{
	height: 2000px;
	width: 100%;
	}
	.products{
	padding-left: 90px !important;
	}
	.about-img{
	margin-top: 985px;
	padding-left: 45px;
	}
	.about-img img:first-child{
	width: 51%;
    height: 17%;
	}
	.about-img img:last-child{
	width: 88%;
    height: 100%;
	}
	.about-img p{
	font-size: 8px;
    padding-left: 170px !important;;
    padding-top: 130px !important;;
    width: 270px !important;;
	}
	.about-company{
	margin-top: 1175px;
    padding-left: 43px !important;
    width: 375px !important;
	}
	.about-company p{
	width: 87%;
	}
}
 
.second-block img{
width: 100%;
}
.second-block i{
float: left;
padding-left: 205px;
font-size: 20px;
color: #4ea73d;
}
.second-block a{
float: right;
padding-right: 80px;
color: #4ea73d;
}
.second-block a, i{
padding-top: 7px;
}
.news{
padding-top: 50px;
}
.second-block{
background: #ebebeb;
}
.products_block-items{
width: 85%;
height: 320px;
background-color: #fff;
text-align: center;
}

.products_block-items img{
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
height: 200px;
}
.products{
position: absolute;
padding-left: 150px;
text-align: center;
}
.products a{
padding-right: 55px;
}
.about-img{
padding-top: 380px;
padding-left: 45px;
position: absolute;
}

.about-img img:first-child{
position: absolute;
width: 70%;
padding: 15px;
}
.about-img p{
	position: absolute;
	width: 340px;
	text-align: center;
	color: #fff;
	padding-left: 170px;
	padding-top: 170px;

}
.about-company{
	position: absolute;
	padding-top: 360px;
	padding-left: 30px;
	width: 500px;
}
.footer{
background-color: #045f00;
width: 100%;
height: 100px;
color: #fff;
}
.footer p{
padding-top: 20px;
}
.gmail{
color: #479938;
}
@media (max-width: 550px) {
	.footer{
		height: 220px;
	}
}