html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

body{
    margin: 0;
    padding: 0;
    
    font-family: calibri;

}
ul{
    margin-bottom: 0;
}
img{
    width: 100%;
    height: 100%;
    max-height: 100%;
}
main {
    min-height: 100%;
    display: flex;
}

.main-header {
    width: 25%;
    background: #fbb15c;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-header__img{
    width: 100%;
    height: 250px;
    background: #fbb15c;
}
.main-header__logo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main-header__logo img{
    margin: 35px auto 0;
    max-width: 65%;
}

.main-header__logo a{ 
    font-size: 108px;
    color: rgb(70, 62, 28);
    text-decoration: none;
    text-align: center;
    position: relative;
}
.main-header__logo span {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-header__text p {
    padding: 0px 25px 0px;
    text-align: justify;
}



.main-left__content {
    width: 50%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-left__content-block{
    display: flex;
    flex-wrap: wrap;   
}
.main-left__content-block__img{
    width: 65%;

}
.main-left__content-block__img-block{
    height: 250px;
    width: 100%;
    background: #fbb15c;
}
.main-left__content-block__list{
    width: 35%;
}
.main-left__content-block__list ul{
    line-height: 1.5rem;
    margin-top: 0;
}
.main-left__content h1{
    border-bottom: 5px solid #7373b5;
    border-top: 5px solid #7373b5;
    padding: 15px 0;
    color: #efbb30;
}
.main-left__content-block__bottom-text{
    width: 100%;
}
.main-left__content-block__about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-left__content-block__about-block{
    height: 200px;
    width: 45%;
    background: #fbb15c;

}

.main-left__content-block__about-text {
    text-align: center;
}
.main-right__content {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-right__content-top_img-block{

    width: 100%;
    height: 400px;
}
.main-right__content-top_img-block img{
    height: 100%;
}
.main-right__content-top_img-block,
.main-right__content-bottom_img{
    border: 5px solid #fbb15c;;
}

.main-right__content-bottom_img{

    width: 100%;
    height: 360px;
}
.main-right__content-bottom_img{
    height: 100%;
}
.main-right__content-bottom_img img,
.main-right__content-bottom_img img{
    height: 100%;
}
.main-right__content-top_img p{
    text-align: center;
}
@media(max-width: 768px){
    .main-header__logo a{
        font-size: 80px;
    }
    .main-left__content-block{
        flex-direction: column;
    }
    .main-left__content-block__img{
        width: 100%;
    }
    .main-left__content-block__list{
        width: 100%;
        text-align: center;
    }
    .main-left__content-block__img-block,
    .main-left__content-block__about-block{
        height: 150px;
    }
    .main-left__content h1{
        margin-top: 0;
    }
}
@media(max-width: 568px){
    html, body{
        overflow: auto;
    }
    section{
        margin: 30px 0;
    }
    .main-header,
    .main-left__content,
    .main-right__content{
        width: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .main-left__content{
        margin: 0;
    }
    .main-left__content h1{
        text-align: center;
        padding: 0 10px;
    }
    .main-left__content p{
        padding: 0 10px;
    }

    .main-right__content-top_img-block,
    .main-right__content-bottom_img{
        border: none;
    }
    .main-right__content-top_img p{
        margin-bottom: 50px;
        text-align: center;
    }
    .main-left__content-block__list ul{
        margin-bottom: 50px;
    }
    .main-left__content-block__img-block, .main-left__content-block__about-block{
        height: 200px;
    }
    .main-left__content-block__img-block, .main-left__content-block__about-block{
        background: none;
    }

}
@media(max-width: 420px){
    .main-left__content-block__about {
        flex-direction: column;
    }
    .main-left__content-block__about-block{
        margin: 15px auto;

    }
    .main-left__content-block__about-block{
        width: 100%
    }
}
