*{
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

a, a:hover{
    text-decoration: none;
}

ul{
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.header-panel{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    z-index: 1002;
}

.header-panel__left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

.header-panel__left-logo {
    width: 40%;
    min-width: 250px;
    max-width: 250px;
    padding-left: 20px;
    background: #232938;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-panel__left-logo img{
    width: 30px;
    vertical-align: middle;
}

.header-panel__left-logo.active {
    width: 35px;
    max-width: 35px;
    min-width: 35px;
    padding: 0 10px;
}

.header-panel__left-logo.active span{
    display: none;
}

.header-panel__left-logo a{
    display: block;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.header-panel__left-search {

}

.header-panel__left-search{
    width: 30%;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    margin-top: 10px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: transparent;
    outline: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.header-panel__right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-panel__left-btn{
    width: 10%;
    margin-left: 20px;
}

.header-panel__left-fullscreen button{ 
    background: none;
    border: none;
    cursor: pointer;
}

.header-panel__left-fullscreen {
    margin-right: 10px;
    width: 10%;
}

.header-panel__left-fullscreen button {
    width: 20px;
    outline: none;
}

.header-panel__right-account{
    display: flex;
    align-items: center;
    margin: 0 30px;
    width: 30%;
}

.header-panel__right-account select {
    background: none;
    margin-left: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-panel__right-account select option {
    padding: 5px 10px;
    border: 1px solid #575756;
}

.header-panel__right-account p{
    display: flex;
    align-items: center;
}


.header-panel__right-account img{
    border-radius: 25px;
    width: 30px;
}

.header-panel__right-account span{
    padding: 0 5px 0 10px;
}

.btn {
    width: 20px;
    height: 2px;
    display: inline-block;
    position: relative;
    background: #000;
}
.btn::before {
    content: "";
    width: 25px;
    height: 2px;
    background: #000;
    border-radius: 10px;
    position: absolute;
    top: -8px;
}

.btn::after {
    content: "";
    width: 15px;
    height: 2px;
    background: #000;
    border-radius: 10px;
    position: absolute;
    bottom: -8px;
}

.left-panel{
    position: fixed;
    background: #232938;
    height: calc(100vh - 80px);
    margin-top: 80px;
    padding-left: 20px;
    width: 250px;
}

.left-panel.active{
    width: 35px;
}

.left-panel.active a{
    display: none;
}

.left-panel.active h2{
    display: none;
}

.left-panel h2 {
    padding: 15px 0;
    color: #8590a5;
}

.left-panel img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}


.left-panel__link-arrow {
    position: absolute;
    right: 20px;
    top: 10px;
    display: block;
    transform: rotate(90deg);
}

.left-panel li{
    padding: 10px 0;
    position: relative;
}

.left-panel__users-dropdown{
    display: none;
    transition: all .5s ease-in;
}

.left-panel__users-dropdown.open {
    display: block;
    padding-left: 40px;
}

.left-panel__link-icon {
    padding-right: 10px;
}

.left-panel a{
    color: #8590a5;
    padding: 5;
    transition: color .5s ease;

}

.left-panel a:hover {
    color: #fff;
}

.left-panel__logout {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
}

.left-panel__logout a{

    font-weight: 700;
}
.left-panel__logout a img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}



.content {
    padding: 0 15px;
    width: 70%;
    margin-left: 280px;
    margin-top: 100px;
}

.content-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.left-panel.active .left-panel__logout span {
    display: none;
}

.left-panel.active .left-panel__logout a {
    display: block;
}

.left-panel.active .left-panel__logout {
    left: 5px;
}


.profile {
    height: 100%;
    width: 220px;
    width: auto;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    transition: all 0.2s;
  }
  .profile:after {
    content: "▾";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, -50%);
    transition: transform 0.2s;
  }
  .profile:hover:after {
    transform: translate(-10px, -50%) rotate(180deg);
  }
  
  .profile__avatar {
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: relative;
    top: 50%;
    margin-top: -17.5px;
    background: #9b59b6;
    border-radius: 50%;
    text-align: center;
  }
  
  .profile__monogram {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .profile__name {
    height: 50px;
    line-height: 50px;
    margin: 0 35px;
    padding: 0 20px 0 15px;
  }
  
  .menu {
    display: block;
    width: 180px;
    transition: all 0.2s;
    position: absolute;
    right: 10px;
    top: 60px;
    background: #232938;
    color: #bfbfbf;
  }
  
  .profile .menu {
    visibility: hidden;
    opacity: 0;
  }
  ul.menu li ul{
    display: none;
  }
  ul.menu li{
    list-style: none;
  }
  ul.menu li:hover > ul{
    display: block;
  }
  ul.menu li ul {
    display: none;	/*скрываем вложенные пункты*/
   }
   ul.menu li:hover {
    position: relative;
  }
  ul.menu li:hover > ul {
    display: block;
  }
  ul.menu li:hover ul li{
    position: absolute;
    top: 0;
    right: 180px; /*меню раскрывается влево*/
    transition: transform 0.2s;
    padding: 0 10px 0 15px;
    background: #232938;
    color: #bfbfbf;
  }
  ul.menu li:hover ul li:hover{
    background: #8590a5;
    color: #f2f2f2;
    cursor: pointer;
    padding: 0 10px 0 15px;
    transform: scale(1.075);
    transition: opacity .5s easy-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }
  .profile:hover .menu {
    visibility: visible;
    opacity: 1;
    height: 180px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
  .profile:hover .menu .menu__item {
    visibility: visible;
    opacity: 1;
  }
  .profile:hover .menu .menu__item:nth-child(1) {
    transition: opacity 0.2s 0.12s, transform 0.2s;
  }
  .profile:hover .menu .menu__item:nth-child(2) {
    transition: opacity 0.2s 0.16s, transform 0.2s;
  }
  .profile:hover .menu .menu__item:nth-child(3) {
    transition: opacity 0.2s 0.2s, transform 0.2s;
  }
  .profile:hover .menu .menu__item:nth-child(4) {
    transition: opacity 0.2s 0.24s, transform 0.2s;
  }
  
  .menu__item {
    display: block;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    padding: 0 10px 0 15px;
    visibility: hidden;
    opacity: 0;
  }
  .menu__item:hover {
    background: #8590a5;
    color: #f2f2f2;
    transform: scale(1.075);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }



.content-blocks__items {
    width: 200px;
    height: 200px;
    background: #000;
}
