
/* 500 */
@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Medium'), url('../fonts/SFUIDisplay-Medium.woff') format('woff'),
  url('../fonts/SF-UI-Display-Regular.otf') format('otf'),
  url('../fonts/ofont.ru_SF UI Display.ttf') format('ttf'),
  }

/* 700 */
@font-face {
  font-family: 'SF UI Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Semibold'), url('../fonts/SFUIDisplay-Semibold.woff') format('woff');

  }
  
  /* 800 */
  @font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
  }
body {
  font-family: 'SF UI Display';
    margin: 0; 
    padding: 0; 
}
ul{
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    
}
img{
  width: 100%;
  max-width: 100%;
}
input{
  outline: none;
}
.green-btn{
text-decoration: none;
display: inline-block;
color: #fff;
padding: 15px 90px;
text-decoration: none; 
font-family: "SF UI Display";
font-size: 18px;
font-weight: 700;
border-radius: 5px;
/* transition: all .5s cubic-bezier(.08,.81,.87,.71); */
background-image: linear-gradient(183deg, #1adb74 0%, #019948 100%);
}


/* // classes for burger */
.sidebar-mini .left-section{
  width: 60px;
  min-width: unset;
}
.sidebar-mini .left-section_logo{
  display: none;
}
.sidebar-mini .left-section_support{
  display: none;
}
.sidebar-mini .left-section_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-mini .left-section_menu li{
  padding: 0px;
}
.sidebar-mini .left-section_menu li a{
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-left: calc(50% - 22px);
}
.sidebar-mini .left-section_menu li:nth-child(8) a{
  padding: 8px 15px;
  margin: calc(50% - 27px);
}
.sidebar-mini .left-section_social{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-mini .left-section_social li a span{
  display: none;
}
.sidebar-mini .left-section_social li a::before{
  margin-left: 10px;
}

.sidebar-mini .right-section{
  margin-left:52px;
  width: 96%;
}
.sidebar-mini .left-section_menu li span{
  display: none;
}
/* // classes for burger */


/* // classes for burger media <768 */

/* // classes for burger media <768 */


.header{
    background: #1F1C1C;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    z-index: 999999999999;
    position: fixed;

}
.header .left-section_logo{
  display: none;
}
#menuToggle{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    
  }
  
  #menuToggle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0; 
    z-index: 1; 
  }
  
  #menuToggle span{
    margin-bottom: 5px;
    background: #fff;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
  }
  
  #span1 {
    width: 30px;
    height: 2px;
    transform-origin: 4px 0px;
  }
  #span2 {
    width: 45px;
    height: 2px;
  }
  #span3 {
    width: 35px;
    height: 2px;
    transform-origin: bottom right;
  }
  
  #menuToggle input:checked ~ #span1 {
    background-color: #fff;
    transform: rotate(45deg) translate(4px)
  }
  #menuToggle input:checked ~ #span2 {
    background-color: #fff;
    width: 30px;
    transform: rotate(488deg) translate(4px)
  }
  #menuToggle input:checked ~ #span3 {
    background-color: #fff;
    transform: rotate(45deg);
    opacity: 0;
  }

  .header_loginform{
    align-self: center;
    margin-right: 25px;
  }
  .left-section .header_loginform{
    display: none;
  }
.header_loginform-login{
    border: 1px solid #868fa5;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #868fa5;
    font-family: "SF UI Display";
    font-size: 18px;
    font-weight: 400;
    transition: all .3s cubic-bezier(.08,.81,.87,.71);
}

.header_loginform-login:hover{
  background-color: #1adb74;
  border: 1px solid #1adb74;
  border: none;
  color: #fff;
}
.header_loginform-register{
    background: #0DA956;
    border-radius: 5px;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    font-family: "SF UI Display";
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
    transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.header_loginform-register:hover{
  background-color: #00dd70;
  color: #1F1C1C;
}
.main{
    display: flex;
}
.left-section_logo{
    padding-left: 30px;
}
.logo a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: "SF UI Display";
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.logo span{
opacity: 0.5;
  font-family: "SF UI Display";
font-size: 13px;
letter-spacing: 5px;
color: #ffffff;
}

.left-section::-webkit-scrollbar {
  width: 0.5em;
  opacity: 0;
  
}

.left-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.left-section:hover::-webkit-scrollbar-thumb {
  background-color: rgb(153, 151, 151);
  outline: 1px solid slategrey;
  overflow: hidden;
  border-radius: 5px;
}
.left-section{
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 0.5s ease-out;
  height: 100%;
  width: 15%;
  min-width: 170px;
  background: #1f1c1c;
  z-index: 9999;
  margin-top: 85px;
  position: fixed;
}
/* хром, сафари */
.left-section::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.left-section { -ms-overflow-style: none; }

.left-section { overflow: -moz-scrollbars-none; }

.left-section ul li{
padding: 10px 5px 10px 20px;
}
.icon{
  display: inline-block;
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
}
.icon-active-profile{
  content: "";
  background-image: url(../img/icons/Shape.svg);
}
.icon-profile{
    content: "";
  background-image: url(../img/icons/greyman.svg);
}
.icon-call{
    content: "";
  background-image: url(../img/icons/call.svg);
}
.icon-message{
    content: "";
  background-image: url(../img/icons/mess.svg);
}
.icon-tour{
    content: "";
  background-image: url(../img/icons/winner.svg);
}
.icon-profile{
  content: "";
  background-image: url(../img/icons/greyman.svg);
}
.icon-contacts{
  content: "";
background-image: url(../img/icons/call.svg);
}
.icon-start{
  content: "";
background-image: url(../img/icons/play.svg);
}
.left-section_menu li:nth-child(8){
  background-color: #0da956;
  margin-top: 40px;
}
.left-section_menu li a{
display: flex;
color: #fff;
text-decoration: none;
font-family: "SF UI Display";
font-size: 16px;
font-weight: 600;
}
.left-section_menu li:active{
  background-color: #ffffff30;
  border-right: 2px solid #1adb74;
}
.left-section_menu li span{
  display: inline-block;
  padding-left: 20px;
  color: #4b4b4b;
}
.left-section_menu li:active span{
  color: #fff;
}
.left-section_menu li:nth-child(8) span{
  color: #fff;
}
.left-section_social{
  margin-top: 40px;
}
.left-section_social li:nth-child(1) a{
  color: #4299ff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-decoration: none;
}
.left-section_social li a span{
  display: inline-block;
}
.left-section_social li:nth-child(1) a::before{
 content: "";
 margin-right: 30px;
 width: 10px;
height: 10px;
border: 2px solid #4299ff; 
border-radius: 13px;
display: inline-block;
}
.left-section_social li:last-child a{
  color: #fcc15a;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-decoration: none; 
}
.left-section_social li:last-child a::before{
  content: "";
  margin-right: 30px;
  width: 10px;
  height: 10px;
  border: 2px solid #fcc15a;
  border-radius: 13px;
  display: inline-block;
}
.left-section_support{
  text-align: center;
  padding-top: 15px;
  height: 100%;
}
.left-section_support-link{
  padding: 10px 15px;
  font-family: "SF UI Display";
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  background-color: #1f1c1c;
  border-radius: 25.5px;
  border: solid 1px #5d5d5d;
  display: inline-block;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.left-section_support-link:hover{
  background-color: #1adb74;
  color: #000;
  border: none;
}
/* right section */
.right-section{
  width: 85%;
  background: #272a32;
  margin-left: 15%;
  margin-top: 85px;
}
.right-section_mainblock{
  background: url(../img/mainimg.png) no-repeat center / cover;
  height: 460px;
  padding: 50px 0px 50px 75px;
}
.right-section_mainblock img{
  width: 40px;
}
.right-section_mainblock img, span{
    display: block;
}
.right-section_mainblock-counter{
    display: flex;
    flex-direction: row;
}
.right-section_mainblock-counter_item{
    margin-left: 50px;
}
.right-section_mainblock-counter_item:first-child{
    margin-left: 0px;
    
}
.right-section_mainblock-counter_item span:first-child{
    border-radius: 5px;
    font-family: "SF UI Display";
    font-size: 32px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    border: 3px solid #1adb74;
    position: relative;
    color: #fff;
}
.right-section_mainblock-counter_item:first-child span:first-child{
  border: 1px solid #979797;
}
.right-section_mainblock-counter_item:nth-child(2) span:first-child::before{
  content: "";
  height: 30px;
  width: 32px;
  position: absolute;
  bottom: -3px;
  left: -3px;
  background: #272a33;

}
.right-section_mainblock-counter_item:nth-child(2) span:first-child::after{
  content: "";
  height: 30px;
  width: 32px;
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: -2px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
}
.right-section_mainblock-counter_item span:last-child{
    margin-top: 10px;
    opacity: 0.4;
    color: #ffffff;
    font-family: "SF UI Display";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
h1{
  margin: 15px 0;
  color: #fff;
  font-family: "SF UI Display";
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
}
.right-section_mainblock-green-words{
  color: #0DA956;
}
.right-section_mainblock-underline{
  text-decoration: underline;
}
h1 span{
  display: inline-block;
}
.right-section_mainblock p{
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.right-section_mainblock-buttons{
  margin-top: 60px;
}
.right-section_mainblock-buttons_rule{
  opacity: .4;
color: #ffffff;
font-family: "SF UI Display";
font-size: 18px;
font-weight: 700;
text-decoration: underline;
margin-left: 70px;
transition: all .5s cubic-bezier(.08,.81,.87,.71);
}
.right-section_mainblock-buttons_rule:hover{
  color: #fff;
  opacity: 1;
  text-decoration: none;
  
}
/* SLIDER SECTION */
.right-section_slider{
  background: url(../img/slider-bg.jpg) no-repeat center / cover;
  position: relative;
  padding: 15px 0px 50px 70px;
}
.right-section_slider h2{
color: #ffffff;
font-family: "SF UI Display";
font-size: 28px;
font-weight: 700;
line-height: 50px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-tournaments .swiper-slide{
  border-radius: 10px;
  background-color: #1f1c1c;
  padding: 10px;
  /* max-width: 550px; */
}
.swiper-slide-tournaments_item{
    padding-bottom: 10px;
}
.swiper-slide-tournaments_item img{
  border-radius: 5px;
}
.swiper-slide-tournaments_item h3{
  color: #ffffff;
font-family: "SF UI Display";
font-size: 20px;
font-weight: 700;
}
.swiper-slide-tournaments_item p{
  opacity: 0.4;
color: #ffffff;
font-family: "SF UI Display";
font-size: 14px;
font-weight: 400;
}
.swiper-slide-tournaments_item-line{
  height: 2px;
  width: 100%;
border-radius: 1px;
background-color: #787676;
}
.swiper-slide-tournaments_item-line::after{
  content: "";
  height: 2px;
  width: 80%;
  display: block;
  border-radius: 1px;
  background-color: #1adb74;
}
.swiper-navigation{
  position: absolute;
  top: 70px;
  right: 200px;
}
.swiper-slide-tournaments_item-starttime{
  color: #ffffff;
font-family: "SF UI Display";
font-size: 14px;
font-weight: 400;
opacity: 1 !important;
margin-bottom: 30px;
}
.swiper-slide-tournaments_item-starttime span{
  font-weight: 700;
text-decoration: underline;
display: inline-block;
}
.swiper-button-next, .swiper-button-prev{
  outline: none;
}
.swiper-button-next::after, .swiper-button-prev::after{
  content: "";
  background: url(../img/icons/prev.svg) no-repeat center;
  width: 100%;
  height: 45px;
}
.swiper-tournaments-button-prev::after{
  padding-left: 35px;
  
}
.swiper-tournaments-button-next::after{
  padding-right: 35px;
  transform: rotate(180deg);
}
.swiper-slide-tournaments_item-buttons_reg{
  padding: 10px 60px;
  display: inline-block;
  color: #0DA956;
  border: 1px solid #1adb74;
  text-decoration: none;
  border-radius: 5px;
  font-family: "SF UI Display";
}
.swiper-slide-tournaments_item-buttons_reg:hover{
  background-color: #00dd70;
  color: #fff;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.swiper-slide-tournaments_item-buttons_rules{
  opacity: .4;
color: #ffffff;
font-family: "SF UI Display";
font-size: 18px;
font-weight: 400;
text-decoration: underline;
margin-left: 35px;
}
.swiper-slide-tournaments_item-buttons_rules:hover{
  opacity: 1;
  color: #fff;
  text-decoration: none;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.right-section_award{
background-color: #272a32;
}

/* award section */
.right-section-award{
  position: relative;
  padding-left: 75px;
  padding-bottom: 50px;
}
.right-section-award h2{
  padding: 30px 0px;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
}
.right-section-award_swiper-navigation{
  position: absolute;
  bottom: 0;
  left: 115px;
}
.swiper-award-button-prev::after{
  padding-left: 35px;
  margin-left: 15px;
}
.swiper-award-button-next::after{
  padding-right: 35px;
  transform: rotate(180deg);
}
.swiper-slide_award-item{
  border-radius: 10px;
  border: 1px solid #868fa5;
  padding: 25px 10px 25px 25px;
}
.swiper-slide_award-item_img{
  display: inline-block;
  
}
.swiper-slide_award-item_img img{
  border-radius: 15px;
  max-width: 188px;
}
.swiper-slide_award-item_text{
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 55%;
  margin-left: 30px;
}
.swiper-slide_award-item_text h3{
  margin: 0;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 20px;
  font-weight: 700;
}
.swiper-slide_award-item_text ul{
  list-style: initial;
  padding-left: 15px;
}

.swiper-slide_award-item_text ul li{
  opacity: 0.4;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 400;
}
.swiper-slide_award-item_text-conditions{
  text-decoration: none;
  text-align: center;
  display: block;
  color: #1adb74;
  font-family: "SF UI Display";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.swiper-slide_award-item_text-conditions:hover{
  color: #fff;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.swiper-slide_award-item_text-reg{
  text-align: center;
  padding: 8px 40px;
  margin-left: calc(50% - 190px);
  text-decoration: none;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #7b7b7d;
  background-color: #414141;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.swiper-slide_award-item_text-reg:hover{
  background-color: #1bce6f;
  border: 1px solid #1bce6f;
  color: #000;
}
/* section bonuses */
.right-section-bonuses{
  padding-top: 50px;
  padding-left: 75px;
}
.right-section-bonuses h2{
  color: #ffffff;
font-family: "SF UI Display";
font-size: 28px;
font-weight: 700;
line-height: 50px;
}


.right-section_bonuses-item{
  display: flex;
  flex-wrap: wrap;
}
.right-section_bonuses-item img{
  margin-bottom: 35px;
  margin-left: auto;
}
.right-section_bonuses-item_block span{
  color: #ffffff;
font-family: "SF UI Display";
font-size: 20px;
font-weight: 700;
display: inline-block;
}
.right-section_bonuses-item_block-coins span{
  color: #00dd70;
  font-size: 24px;
  font-family: "SF UI Display";
}
.right-section_bonuses-item_block-coins{
  display: inline-block;
  float: right;
}
.right-section_bonuses-item_block-coins span:last-child{
  color: #868fa5;
  font-size: 18px;
  font-family: "SF UI Display";
}
.right-section_bonuses-item p{
  color: #868fa5;
font-family: "SF UI Display";
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
}
.right-section_bonuses-item_block-buy{
  display: block;
  padding: 15px 80px;
  border:  1px solid #1adb74;
  border-radius: 3px;
  color: #1adb74;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.right-section_bonuses-item_block{
  width: 28%;
  padding: 25px;
  margin-bottom: 50px;
  transition: all .5s cubic-bezier(.08,.81,.87,.71);
}
.right-section_bonuses-item_block:hover{
  border-radius: 10px;
  background-color: #1f1c1c;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.right-section_bonuses-item_block:hover .right-section_bonuses-item_block-buy{
  color: #ffffff;
font-family: "SF UI Display";
font-size: 18px;
font-weight: 400;
border-radius: 5px;
background-color: #0da956;
}
.right-section_bonuses-item_block-more{
  margin-left: auto;
  padding-right: 50px;
  color: #fff;
  font-size: 18px;
}

.right-section_bonuses-item_block-more a{
  color: #ffffff;
font-family: "SF UI Display";
font-weight: 400;
text-decoration: underline;
padding-right: 15px;
}
.right-section_bonuses-item_block-more a:hover{
  text-decoration: none;
  color: #0da956;
}
.right-section_bonuses-item_block:nth-child(3){
margin-right: 0;
}
.footer{
  background: url(../img/slider-bg.jpg) no-repeat;
  padding-left: 75px;
  padding-top: 50px;
  margin-top: 50px;
}
.footer h2{
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer-form p{
  opacity: 0.5;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0px;
}
.footer-top{
  display: flex;
  flex-wrap: wrap;
}
.footer-form{
  width: 55%;
}
.footer-form input{
  border-radius: 5px;
  border: solid 1px #616877;
  background-color: rgba(54, 105, 156, 0.12);
  font-family: "SF UI Display";
  font-size: 18px;
  color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 100%;
}
.footer-form input::placeholder{
  padding-left: 20px;
  color: #fff;
  opacity: 1;
}
.footer-form_input{
  display: inline-flex;
  width: 49.5%;
}
.footer-form_input:nth-child(2n) input{
  margin-right: 0px;
}
.footer-form_submit{
  border-radius: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 19px 0px;
  background: #0DA956;
  color: #ffffff;
  font-family: "SF UI Display";
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  transition: all .5s cubic-bezier(.08,.81,.87,.71);
}
.footer-form_submit:hover{
  background-color: #00dd70;
  color: #1F1C1C;

}
.footer-form input::placeholder{
  opacity: 0.5;
color: #ffffff;
font-family: "SF UI Display";
font-size: 18px;
font-weight: 400;
}
.footer-video{
  position: relative;
  margin-left: 100px;
}
.footer-video_play{
  position: absolute;
  top: calc(100% - 275px);
  right: calc(50% - 170px);
}
.footer-bottom{
  display: flex;
  padding-top: 35px;
  padding-bottom: 30px;
}
.footer-bottom_text p{
  margin: 0;
  padding-left: 40px;
  color: #ffffff;
font-family: "SF UI Display";
font-size: 16px;
font-weight: 400;
}

hr, .footer-bottom_text p{
  margin-right: 30px;
}
/* MEDIA requests */

@media screen and (max-width: 1432px){
  .swiper-slide_award-item_text{
    width: 50%;
  } 
}

@media screen and (max-width: 1328px){
  .footer-form input{
    width: 100%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1365px){
  .swiper-slide_award-item_img{
    width: 40%;
  }
}

@media screen and (max-width: 1296px){
  .swiper-slide_award-item_text{
    margin-left: 25px;
  }
  .footer-video_play {
    right: calc(50% - 82px);
  }
}
@media screen and (max-width: 1330px){
  .swiper-slide-tournaments_item-buttons_reg{
    display: block;
    text-align: center;
  }
  .swiper-slide-tournaments_item-buttons_rules{
    text-align: center;
    display: block;
    margin-top: 15px;
  }
  .swiper-slide-tournaments_item-buttons_rules{
    margin: 0px;
    margin-top: 10px;
  }
}
@media(min-width: 768px) and (max-width: 1200px) {
  .swiper-slide_award-item{
    margin-right: 30px;
  }
}
@media screen and (max-width: 1200px){

  .footer-form{
    width: 50%;
  }
  .footer-form input{
    width: 100%;
    padding: 15px 0px;
  }
  .footer-form_input-secondContacts{
    display: none;
  }
  .logo a{
    font-size: 19px;
  }
  .logo span{
    font-size: 12px;
    letter-spacing: 3px;
  }
  .footer-form_input{
    width: 100%;
    display: block;
    margin-right: 0px;
  }
  
  .right-section_bonuses-item_block{
    width: 40%;
  }
  .swiper-slide_award-item_text{
    width: 60%;
  }
  .footer-video_play{
    right: calc(50% - 80px);
  }
  .footer-video{
    margin-left: 30px;
  }
  .footer-top{
    margin-bottom: 50px;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 998px){
h1{
  font-size: 30px;
  line-height: 2rem;
}
.swiper-slide-tournaments_item{
  padding: 10px;
}
.swiper-tournaments .swiper-slide{
  max-width: 95%;
}
.right-section_bonuses-item_block-coins{
  float: none;
  padding-top: 5px;
  display: block;
}
.right-section_mainblock{
  padding-bottom: 0px;
}
.right-section_bonuses-item_block-buy{
  padding: 15px 0px;
}
.right-section_bonuses-item_block span{
  display: inline-block;
  text-align: center;
}
.right-section .right-section_bonuses-item_block-coins_count{
  margin-left: calc(50% - 65px);
}
.right-section .right-section_bonuses-item_block-title{
  display: block;
}
.footer-bottom_text p{
  padding-right: 30px;
}
.left-section_menu li span{
  font-size: 13px;
}
.logo a{
  font-size: 17px;
}
.logo span{
  letter-spacing: 3px;
}
.left-section_menu li a{
  font-size: 16px;
}
.left-section_menu li:nth-child(8){
  width: inherit;
}
.footer-form{
  order: 2;
  width: 100%;
  padding-right: 40px;
  text-align: center;
}
.footer-video{
  order: 1;
  margin: auto;
}
.footer{
  background-size: cover;
}
}

@media screen and (max-width: 768px){
  .right-section{
    position: relative;
  }
  body.sidebar-mini .right-section::before{
    content: "";
    opacity: 0.9;
    background-color: #1F1C1C;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  h2{
    margin: 0 10px;
  }

  .swiper-tournaments .swiper-slide{
    padding: 0px;
    max-width: unset;
  }

  .right-section_mainblock{
    padding: 20px 35px;
  }
  .swiper-slide-tournaments_item-buttons_rules{
    display: none;
  }
  .left-section .left-section_social li{
    padding-left: 10px;
  }
  .right-section_mainblock-buttons_rule{
    margin-left: 0px;
    margin-top: 25px;
  }
  .sidebar-mini .left-section_menu li a{
    margin-left: 0px;
    display: inline-block;
  }
  .sidebar-mini .left-section_menu li:nth-child(8){
    margin-top: 15px;
  }
  .sidebar-mini .left-section_social{
    margin-top: 20px;
  }
  .sidebar-mini .left-section_menu li a{
    display: flex;
    width: 100%;
    padding: 10px 15px;
    margin-left: 0px;
    line-height: 1.2rem;
  }
  .sidebar-mini .left-section_menu li:nth-child(8) a{
    margin: 0px;
  }
  .right-section_mainblock{
    background: none;
    /* margin-bottom: 40px; */
  }
  .left-section{
    left: -225px;
  }
  .footer-form{
    padding: 0px;
  }
  .right-section{
    width: 100%;
    margin-left: 0;
  }
  .sidebar-mini .right-section{
    width: 100%;
    margin-left: 0px;
  }
  .sidebar-mini .left-section{
    left: 0px;
    width: 30%;
    min-width: 225px;
  }

  .sidebar-mini .left-section .logo, .sidebar-mini .left-section_menu li span,
  .sidebar-mini .left-section_menu,.sidebar-mini .left-section_social
  {
    display: block;
  }
  h2{
    text-align: center;
  }

  .sidebar-mini .left-section_social li a span{
    display: inline-block;
  }
  .right-section-award, .right-section_slider, .right-section-bonuses, .footer{
    padding: 10px 10px;
    padding-bottom: 40px;
  }
  .footer{
    padding-bottom: 0px;
  }
  .footer-top, .footer-bottom{
    display: block;
  }
  .footer-video, .swiper-navigation{
    display: none;
  }
  .right-section-award_swiper-navigation{
    left: calc(50%);
    bottom: -15px;
  }
  .right-section-bonuses{
    padding-top: 50px;
  }
  .footer-bottom_logo{
    display: inline-block;
    vertical-align: top;
  }
  .footer-bottom_text{
    display: inline-block;
    width: 70%;
  }
  .right-section{
    padding: 0px ;
  }
  .right-section_mainblock-buttons a {
    display: block;
    text-align: center;
    
  }
  .sidebar-mini .left-section_support {
    display: block;
  }
}
.footer #menuToggle{
  display: none;
}
@media screen and (max-width: 568px){
  .green-btn{
    font-size: 16px;
  }
  .right-section_mainblock-br{
    display: none;
  }
  h1{
    font-size: 24px;
  }

  .right-section-award h2{
    padding: 0px;
  }
  .right-section_mainblock{
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .right-section_mainblock p{
    font-size: 14px;
  }
  .right-section_slider h2{
    font-size: 22px;
  }
  .footer-bottom_text{
    display: none;

  }
  
  .footer #menuToggle{
    display: inline-block;
    float: right;
  }

  .header_loginform-login{
    padding: 10px 20px;
  }

  .header_loginform-register{
    padding: 10px 20px;
 
  }

  .right-section_mainblock-counter_item span:first-child{
    border: solid 1px #979797;
  }
  .right-section_mainblock-counter_item:nth-child(2) span:first-child::after,
  .right-section_mainblock-counter_item:nth-child(2) span:first-child::before{
    display: none;
  }
  .right-section_mainblock-counter_item{
    margin-left: 25px;
  }
  .swiper-slide_award-item{
    text-align: center;
  }
  .swiper-slide_award-item_text{
    width: 100%;
  }
  .swiper-slide_award-item_text ul{
    padding: 0px 15px;
  }
  .swiper-slide_award-item_text{
    margin: 0px;
  }
  .right-section_bonuses-item_block{
    width: 100%;
  }
  .footer-bottom{
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 37px;
  }
  .swiper-slide_award-item{
    position: relative;
  }
  .swiper-slide_award-item_text-conditions{
    margin-bottom: 40px;
  }
  .swiper-slide_award-item_text-reg{
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;
    display: block;
    text-align: center;
    padding: 15px;
    margin-left: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .right-section_mainblock-counter_item span:first-child{
    font-size: 20px;
  }
}
@media screen and (max-width: 465px){
  .header .logo{
    display: block;
    align-items: center;
    align-self: center;
  }
  .swiper-slide_award-item_text-conditions{
    margin-bottom: 45px;
  }
  .footer-form input{
    width: 100%;
    max-width: 400px;
    margin: 15px 0px;
  }
  .header .header_loginform{
    display: none;
  }
  .left-section_menu .header_loginform{
    display: block;
  }
  .header_loginform{
    margin: 10px;
    text-align: center;
    height: 100%;
  }
  .header_loginform a{
    display: block;
    text-align: center;
    margin: 0;
  }
  .header_loginform a:first-child{
    margin-bottom: 10px;
  }
  .left-section .logo{
    display: none !important;
  }
  .right-section_bonuses-item_block-more{
    margin: 0 auto;
    padding: 0;
  }
  /* .right-section_mainblock{
    margin-bottom: 50px;
  } */
  .right-section_mainblock-counter_item span:first-child{
    font-size: 14px;
  }
  .right-section_mainblock-counter_item{
    margin-left: 20px;
  }
  .right-section-award, .right-section_slider, .right-section-bonuses, .footer {
    padding: 20px 15px;
  }
  .right-section-bonuses{
    padding-top: 60px;
  }
  /* .right-section_bonuses-item_block{
    padding-bottom: 0px;
  } */
  .swiper-slide-tournaments_item-buttons_reg{
    text-align: center;
    padding: 10px 85px;
  }
  .swiper-slide-tournaments_item-buttons_rules{
    padding: 0;
    text-align: center;
    display: none;
    margin: 0;
  }
  hr{
    display: block;
    width: 100%;
  }
  .left-section_social{
    height: 100%;
  }
}
@media screen and (max-width: 400px){
  .header_loginform-register{
    padding: 5px;
    margin-left: 5px;
  }
  .header_loginform-login{
    padding: 5px;
  }
  .right-section_mainblock-counter_item{
    margin-left: 10px;
  }
  .right-section_mainblock-counter_item span:first-child {
    font-size: 20px;
    padding: 8px 22px;
  }
  .right-section_mainblock{
    padding-bottom: 50px;
  }
  .green-btn{
    padding: 15px 50px;
  }
  
}

@media (max-width: 360px){
  .swiper-slide_award-item_text-reg{
    font-size: 14px;
  }
}


/*============================ */
/*------- PROFILE PAGE ------- */
/*============================ */

.header_profile-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;
  margin-top: 20px;
}
.header_profile-item_details{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 15px 0 10px;
}
.header_profile-item_mail{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.header_profile-item_mail:hover{
  color: #00dd70;
}
.header_profile-item_icon{
  position: relative;
}
.header_profile-item_icon:after{
content: "";
position: absolute;
top: 0px;
right: 0px;
width: 5px;
height: 5px;
display: inline-block;
background-color: #0da956;
border: 2px solid #1f1c1c;
border-radius: 5px; 
}
.header_profile-item_icon{
  display: inline-block;
}
.profile-item_balance span{
  display: inline-block;
  color: #fff;
}
.profile-item_balance{
  text-decoration: none;
}
.profile-item_balance .profile-item_balance-count{
  font-size: 16px;
  color: #0da956;
  font-weight: 600;
}

.header_profile-logout{
  color: #868fa5;
  font-size: 18px;
  text-decoration: none;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.header_profile-logout:hover{
  color: #00dd70;
}
.main{
  background-color: #272a32;
}

.right-section_profile{
  padding: 20px 80px 50px 75px;
}
.right-section_profile-h2{
  margin-bottom: 0px;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.32;
  color: #ffffff;
}
.right-section_profile-descr{
  font-size: 18px;
  color: #797c86;
  margin-bottom: 50px;
}
.right-section_profile-tabs{
  margin-left: 10px;
}
.right-section_profile-tabs_links{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #585b63;
  max-width: 1380px;
}
.right-section_profile-tabs_links li:first-child{
  margin-left: 0px;
}
.active{
  border-bottom: 2px solid #0da956;
  padding-bottom: 15px;
}
.right-section_profile-tabs_link-item{
  font-size: 18px;
  font-weight: 500;
  color: #797c86;
  text-decoration: none;
}
.right-section_profile-tabs_links li{
  margin-right: 30px;
}
.right-section_profile-tabs_links li:last-child{
  margin-left: auto;
  margin-right: 0px;
}
.right-section_profile-tabs_links li:last-child a{
  color: #fff;
}

.right-section_profile-tabs_link-item span{
  display: inline-block;
}


.right-section_profile-tabs_table{
  display: inline-block;
  flex-direction: column;
  width: 45%;
  margin-right: 30px;
}
.right-section_profile-tabs_table:last-child{
  margin-right: 0px;
}
.right-section_profile-tabs_table-item{
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #171414, #1f1c1c);
  padding: 20px 30px;
  margin-bottom: 25px;
}
.right-section_profile-tabs_table-item_visited
{
  background-image: linear-gradient(to bottom, #0ea253, #1cbe68);
}


.right-section_profile-tabs_table-item_place,
.right-section_profile-tabs_table-item_date{
  padding-right: 20px;
}
.right-section_profile-tabs_table-item_place,
.right-section_profile-tabs_table-item_date,
.right-section_profile-tabs_table-item_map{
  color: #797c86;
  font-family: "SF UI Display";
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
}
.right-section_profile-tabs_table-item_place span,
.right-section_profile-tabs_table-item_date span,
.right-section_profile-tabs_table-item_map span{
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}
.right-section_tabs-h3{
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

/* tab#1 */
.right-section_profile-tab1_item-img{
  width: 354px;
  height: 512px;
  display: inline-block;
  background-color: #000;
  margin-right: 25px;
}
.right-section_profile-tab1_item-img img{
  border-radius: 7px;
}
.right-section_profile-tab1_item{
  display: flex;
  padding-top: 25px;
}
.right-section_profile-tab1_item-content{
  max-width: 100%;
}
.right-section_profile-tab1_item-content_header{
  display: flex;
  padding-bottom: 15px;
  justify-content: space-between;
}
.right-section_profile-tab1_item-content_header_title{
  margin-right: 65px;
}
.right-section_profile-tab1_item-content_header_title-name{
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}.right-section_profile-tab1_item-content_header_title-status{
  font-size: 18px;
  color: #797c86;
}
.right-section_profile-tab1_item-content_header_title-status span{
  display: inline-block;
  font-size: 18px;
  color: #ffc334;
}
/* buttons */
.right-section_profile-tab1_item-content_header_buttons-upbalance{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 15px 65px;
  border-radius: 5px;
  background-color: #0da956;
  margin-right: 30px;
  display: inline-block;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.right-section_profile-tab1_item-content_header_buttons-upbalance:hover{
  color: #000;
}
.right-section_profile-tab1_item-content_header_buttons-withdraw{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 5px;
  border:  1px solid #868fa5;
  display: inline-block;
  transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.right-section_profile-tab1_item-content_header_buttons-withdraw:hover{
  color: #00dd70;
  border: 1px solid #00dd70;
}
.right-section_profile-tab1_item-content_medals p,
.right-section_profile-tab1_item-content_statistic p{
  color: #797c86;
  font-size: 18px;
}
.right-section_profile-tab1_item-content_medals p:before,
.right-section_profile-tab1_item-content_statistic p:before{
  content: "";
  width: 20px;
  height: 1px;
  display: inline-block;
  background-color: #797c86;
  vertical-align: middle;
  margin-right: 10px;
}
/* buttons */
.right-section_profile-tab1_item-content_medals-wrap{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 15px;
}
.right-section_profile-tab1_item-content_medals-wrap_item{
  width: 80px;
  height: 80px;
  opacity: 0.5;
  border-radius: 10px;
  background-color: #1f1c1c;
  margin: 0 20px 20px 0;
}
.right-section_profile-tab1_item-content_medals-wrap_item{
  background: url(../img/icons/Icon.png);
  opacity: .3;
  border-radius: 3px;
}
.right-section_profile-tab1_item-content_medals-wrap_item:hover{
  opacity: 1;

}
.right-section_profile-tab1_item-content_statistic-wrap{
  display: flex;
}
.right-section_profile-tab1_item-content_statistic-wrap_item{
  border-radius: 5px;
  border: solid 1px #585b63;
  padding: 20px 35px 20px 25px;
  margin-right: 30px;
  min-width: 185px;
}
.right-section_profile-tab1_item-content_statistic-wrap_item:last-child{
  margin-right: 0;
  min-width: 115px;
}
.right-section_profile-tab1_item-content_statistic-wrap_item-amount{
  color: #fff;
  font-size: 24px;
  padding-bottom: 15px;
}
.right-section_profile-tab1_item-content_statistic-wrap_item-title{
  font-size: 18px;
  color: #797c86;
}