input, textarea{
    outline: none;
}
.more-btn,.more-btn:hover{color:#fff;text-decoration:none}
.left-menu .logo a,.left-menu ul li a,.left-menu_hide a,.more-btn,.more-btn:hover{text-decoration:none}@font-face{font-family:HelveticaNeueCyr-Medium;src:url(../fonts/HelveticaNeueCyr-Medium.woff)}@font-face{font-family:HelveticaNeueCyr-Bold;src:url(../fonts/HelveticaNeueCyr-Bold.woff)}@font-face{font-family:HelveticaNeueCyr-Roman;src:url(../fonts/HelveticaNeueCyr-Roman.woff)}@font-face{font-family:GothamPro-Black;src:url(../fonts/GothamPro-Black.woff)}@font-face{font-family:GothamPro-Medium;src:url(../fonts/GothamPro-Medium.woff)}@font-face{font-family:GothamPro-BoldItalic;src:url(../fonts/GothamPro-BoldItalic.woff)}@font-face{font-family:GothamPro;src:url(../fonts/GothamPro.woff)}@font-face{font-family:GothamProRegular;src:url(../fonts/GothamProRegular.woff)}
.more-btn{box-shadow:0 8px 30px rgba(255,112,67,.3),inset 0 -3px 2px rgba(0,0,0,.3);border-radius:6px;background-image:linear-gradient(to top,#f63 0,#f59840 100%);padding:15px 35px;font-family:HelveticaNeueCyr-Medium;font-size:14px;display:inline-block;transition:background-color top 1s ease-out .5s;-webkit-transition:top 1s ease-out .5s;-moz-transition:top 1s ease-out .5s;-o-transition:top 1s ease-out .5s}.more-btn:hover{background-color:#f59840;box-shadow:0 8px 30px rgba(255,112,67,.3),inset 0 0 0 transparent}body,ul{padding:0;margin:0}li{list-style:none}.container{max-width:1170px;margin:auto}.test{display:-ms-flexbox;display:flex}
.left-menu{
    position: absolute;
    background:#000;
    height: 100%;
    z-index: 10;
    width: 60px;
    transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
.open-menu{
    transform: rotate(180deg);
}
.active-menu{
    transform: rotate(360deg);
}
.open_left-menu{
    width: 180px;
    transition: all .3s cubic-bezier(.08,.81,.87,.71);
}
/* #hidesection{
    transform: rotate(180deg);
} */

.left-menu .logo{
    border-bottom:1px solid red;
    margin-top:25px;
    margin-left:20px;
}
.left-menu .logo a{color:red;font-size:26px;font-weight:600}
.left-menu ul{
    margin-top:60px;
    color:#fff
}
.left-menu ul li{margin-top:5px;padding:10px 10px 10px 20px}
.logo{
    display: none;
}
.left-menu ul li a{
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.left-menu ul li a span{
    padding-left: 10px;
    display: none;
}
.open_left-menu ul li a span{
    display: block;
}
.open_left-menu .logo{
    display: block;
}
.open_left-menu ul{
    margin-top: 0px;
}
.left-menu ul li a img{
   width: 20px; 
}
.left-menu ul li:nth-child(2){
    background:red;
}
.left-menu_hide a{
    position:absolute;
    top:15px;
    right:10px;
    font-size:25px;
    padding:3px 9px;border:1px solid red;
    border-radius:30px
}
.left-menu_hide a img{
    width:15px;
}

.right-content{
    width:70%;
    color:red;
    margin: auto;
    padding-bottom: 50px;
}
.right-content h2:after{
    content:"";
    margin-top:5px;
    position: absolute;
    width:100%;
    height:2px;
    background-color:red;
    display:block;
}
.right-content input{
    border: 2px solid red;
    color: red;
    margin-bottom: 10px;
    display: block;
    width: -webkit-fill-available;
    padding: 5px 50px 5px;
}
.right-content input::-moz-placeholder{color:red;padding-left:10px}.right-content input:-ms-input-placeholder{color:red;padding-left:10px}.right-content input::placeholder{color:red;padding-left:10px}.right-content ul{margin-top:5px}.right-content ul li{margin-bottom:15px}.right-content ul li span{margin-bottom:5px}.right-content ul li span:nth-child(1){width:75px;display:inline-block}
.right-content ul li:last-child span{margin-bottom:0}.right-content_zaklad::after{content:"here";width:15px;display:block;color:#000;position:absolute}
.right-content_form-hours{
    border:1px solid red;
    padding:15px;
    margin-top:30px;
    margin-bottom:10px;
    position:relative;
}
.right-content_form-hours input{
    max-width: 1030px;
}
.right-content_form-hours_title{
    position:absolute;
    top:-15px;
    background:#fff;
    padding:5px;
    font-weight:600;
}
.right-content_form-atmosph{
    border:1px solid red;
    padding:15px 7px;
    min-height:50px;
    margin-bottom:10px;
    display: flex;
    outline: none;
}
.right-content_form-atmosph span{
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px;
    height: 100%;
    display: inline-block;
    margin: 7px;
}
.right-content_form-atmosph_add{
    font-weight:800;
}
.right-content_form-payment{
    margin: 20px 0;
}
.right-content_form-payment span{
    display:inline-block
}
.right-content_form-payment input{
    display:inline-block;
    max-width:50px
}
.right-content_form-payment p{
    margin:5px
}
.right-content_form-payment_checkbox{
    display:inline-block;
    width:45px;
    height:20px;
    background:red;
    position:relative;
    border-radius:50px;
    margin-bottom:10px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.5),0 1px 0 rgba(255,255,255,.2)
}
.right-content_form-payment_checkbox label{
    display:inline-block;
    width:23px;
    height:14px;
    cursor:pointer;
    position:absolute;
    top:3px;left:3px;
    z-index:1;
    background:#fcfff4;
    background:linear-gradient(top,#fcfff4 0,#dfe5d7 40%,#b3bead 100%);
    border-radius:50px;
    transition:all .4s ease;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.3)
}
.right-content_form-payment_checkbox input[type=checkbox]{
    visibility:hidden;
}
.right-content_form-payment_checkbox input[type=checkbox]:checked+label{
    left:20px;
}
.right-content form textarea{
    border:2px solid red;
    width: 100%;
    max-width: 935px;
}
.right-content_form-payment_submit{
    display:inline-block;
    color:#fff;
    background-color:red;
    border-radius:10px;
    text-decoration:none;
    padding:5px 10px;
    text-align:center
}

@media (min-width:575.98px){
    .container{
        max-width:540px;
        margin:auto;
        padding:0
    }
}
@media (min-width:767.98px){
    .container{
        max-width:720px;
    }
}
@media (min-width:991.98px){
    .container{
        max-width:960px;
    }
}
@media (min-width:1199.98px){
    .container{
        max-width:1140px
    }
}
footer{
    height:150px;
    width:100%;
    background-color:#123
}
@media (max-width:768px){
.whywe-causes{
    display:block;
}
}
.whywe-causes_item{
    width:100%
}
.right-content_form-hours input[type="time"]{
    width: inherit;
    padding: 5px 17px;
    padding-left: 15px;
    display: inline-block;
}
.right-content_form-hours_days{
    margin-left: 79px;
    margin-top: 5px;
}
.right-content_form-hours_days-allday{
    padding: 5px;
    border: 2px solid red;
    padding: 5px 20px;
    border-radius: 0px;
    margin-right: 8px;
}
.right-content_form-hours_days-weekdays{
    border: 2px solid red;
    padding: 5px 5px;
}
.right-content_form-hours_days-allday:active, .right-content_form-hours_days-weekdays:active{
    background-color: red;
    color: #fff;
}
@media(max-width: 437px){
    .right-content ul li span{
        display: block;
    }
    .right-content_form-hours_days{
        display: flex;
        margin-left: 0px;
    }
    .right-content_form-hours input[type="time"]{
        padding: 5px 10px;
    }
}
@media(max-width: 360px){
    .right-content_form-hours input[type="time"]{
        display: block;
    }
}
/* __________________________________________________________________ */
/* ______________________  Login page ______________________*/
/* __________________________________________________________________ */
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}
.login-form_logo{
    text-align: center;
}
.login-form_logo img{
    width: 100%;
    max-width: 400px;
}
.login-form_logo p{
    color: red;
    margin-top: 5px;
}
.login-form form{
    text-align: center;
}
.login-form form input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
    border: 2px solid red;
    color: red;
    padding: 10px 100px;
}
.login-form form input::placeholder{
    text-align: center;
    color: red;
}
.login-form form input:focus{
    outline: none;
}
.login-form form input:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login-form form input[type="password"]{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.login-form_line{
    height: 2px;
    width: 300px;
    background: red;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.login-form form a{
    display: inline-block;
    padding: 7px 25px;
    background-color: red;
    text-decoration: none;
    border-radius: 15px;
    color: #fff;
    margin-top: 15px;
}
@media (max-width: 400px){
    .login-form form input{
        padding: 10px 50px;
    }
    .login-form_line{
        width: 150px;
    }
}



/* __________________________________________________________________ */
/* ______________________  Page review ______________________*/
/* __________________________________________________________________ */



.right-content_tooltip{
    display: inline-block;
    width: 45%;
}
/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none
  }
  /* Убираем стандартный маркер Firefox */
  details > summary {
    list-style: none;
  }
  .right-content_tooltip-card{
      display: inline-block;
  }
  .right-content_tooltip-card-header{
      display: inline-block
  }