body{
	font-family: 'Gotham Pro regular';
    padding: 0;
    margin: 0;
}
ul{
    padding-left: 0;
    margin-bottom: 0;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
    max-width: inherit;
}




 /* --- Start custom css --- */
 /* --- header --- */
 .header-top{
    margin: 25px 10px 0;
    display: flex;
    justify-content: space-between;
 }
 .header-top__right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
 }
 .header-top__right-contacts{
    display: flex;
    justify-content: space-between;
    width: 30%;
 }
 .header-bottom{
     margin-top: 65px;
 }
 .header-bottom ul {
    list-style: none;
    overflow: hidden;
}
.header-bottom ul li {
    float: left;
    padding: 5px 55px 10px 7px;
}
.header-bottom ul li a {
    font-size: 22px;
    color: #000;
}
.header-top__right-lang a{
    color: #1e4fa2;
    font-size: 20px;
    font-weight: 500;
}
.header-top__right-lang__active{
    border: 1px solid #1e4fa2;
    padding: 10px;
}
.header-top__right-lang__eng{
    margin-right: 5px;
}

.main{
    position: relative;
}
.main .carousel{
    height: 830px !important;
}
.carousel .carousel-item>img{
    height: 100%;
}
.main-bg {
    padding: 100px 0 150px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    width: 100%;
}
.main-bg__text {
    margin: auto 0;
}
.main-bg__text h1 {
    color: #fff;
    font-size: 100px;
    padding: 0px 0;
    font-weight: 700;
    line-height: 7.4rem;
    margin-bottom: 55px;
    margin-top: 60px;
}
.main-bg__text p {
    max-width: 660px;
    font-size: 20px;
    line-height: 2.2rem;
    padding-left: 7px;
    color: #fff;
    margin-bottom: 55px;
}
.main-bg__text-link{
    border-radius: 24px;
    background-image: linear-gradient(to right, #113787 0%, #6e8bbd 100%);
    color: #fff;
    padding: 15px 23px;
    letter-spacing: 2px;
    margin-left: 10px;
    font-size: 18px;
}
.main-bg__cart {
    min-width: 360px;
    max-width: 360px;
    position: absolute;
    right: 125px;
    padding: 35px 0px 55px 40px;
}
.main-bg__cart1 {
    background-image: linear-gradient(-230deg, #c9cfdd 0%, #eeecea 100%);
    top: -60px;
    color: #1e4fa2;
}
.main-bg__cart-hours{
    font-size: 36px;
    font-weight: 700;
    position: relative;
}
.main-bg__cart-hours::after{
    content: "";
    width: 45px;
    height: 2px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0px;
}
.main-bg__cart1 span::after{
    background-color: #1e4fa2;
}
.main-bg__cart2 span::after{
    background-color: #ffffff;
}
.main-bg__cart3 span::after{
    background-color: #1e4fa2;
}
.main-bg__cart p{
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 40px;
    font-weight: 700;
}
.main-bg__cart span,
.main-bg__cart p{
    color: #1e4fa2;
}
.main-bg__cart1{

}
.main-bg__cart2 span,
.main-bg__cart2 p{
    color: #fff;
}
.main-bg__cart3 span,
.main-bg__cart3 p{
    color: #1e4fa2;
}

.main-bg__cart2 {

    background-image: linear-gradient(to top, #082774 0%, #1e4fa2 100%);
    top: 255px;
    color: #fff;
}
.main-bg__cart3 {
    background-image: linear-gradient(-35deg, #dfc7ad 0%, #ffe4c6 100%);
    bottom: -70px;
}
.howitworks-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.howitworks {
    padding: 140px 0 85px;
    text-align: center;
    background: url(../img/cubesbg.jpg) no-repeat;
}
.howitworks h2 {
    color: #1e4fa2;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.howitworks p {
    color: #1e4fa2;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 2.3rem;
    max-width: 880px;
    display: inline-block;
    margin-top: 0px;
}
.howitworks-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}
.howitworks-wrapper__item {
    padding: 55px 165px;
    text-align: center;
    box-shadow: -4px -4px 15px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #f0eeef;
    position: relative;
}
.howitworks-wrapper__item:before {
    width: 117px;
    height: 293px;
    position: absolute;
    bottom: -20px;
    left: -20px;
}
.howitworks-wrapper__hardware:before{
    content: "";
    background: url(../img/icons/hardware5_.svg) no-repeat center / cover;
}
.howitworks-wrapper__software:before {
    content: "";
    background: url(../img/icons/software.svg) no-repeat center / contain;
    height: 100%;
    width: 193px;
    bottom: -45px;
}
.howitworks-wrapper__item::after {
    content: "";
    width: 39px;
    height: 35px;
    background: url(../img/icons/arrow_right.svg) no-repeat;
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.howitworks-wrapper__item span{
    margin: auto;
    color: #1e4fa2;
    font-family: "Gotham Pro";
    font-size: 32px;
    font-weight: 500;
}
.datasources-wrapper{
    display: flex;
    flex-direction: 2;
}
.datasources{
    background-color: #1e4fa2;
    padding: 100px 0 50px;
}
.datasources h2{
    text-align: center;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 500;
}
.datasources-wrapper {
    display: flex;
    flex-flow: wrap;
    margin: 80px 75px 0;
}
.datasources-wrapper__item {
    width: 21%;
    margin-right: 40px;
    margin-bottom: 60px;
    display: flex;
}
.datasources-wrapper__item:nth-child(4n){
    margin-right: 0px;
}
.datasources-wrapper__item-img {
    margin-top: 15px;
    position: relative;
}
.datasources-wrapper__item-img img {
    z-index: 2;
    position: relative;
}
.datasources-wrapper__item-img::before {
    content: "";
    background: url(../img/iconbg.png) no-repeat center / cover;
    display: inline-block;
    width: 83px;
    height: 65px;
    position: absolute;
    left: -30px;
    top: -20px;
}
.datasources-wrapper__item-text {
    padding: 0 0px 0 30px;
}
.datasources-wrapper__item-text h3 {
    color: #dfc7ad;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.datasources-wrapper__item-text p {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}



/* tab-cases section */
.tab-cases{
    padding-top: 100px;
    padding-bottom: 70px;
}
.ui-tabs-nav{
    list-style: none;
    overflow: hidden;
}
li.ui-tabs-tab {
    float: left;
    padding: 15px 5px;
    margin-right: 35px;
}
.tab-cases .tabs .tab a{
    color: #1e4fa2;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 500;
    text-transform: initial;
}

.tab-cases__cards #tabs-1 p{
    max-width: 730px;
}
.tab-cases .tabs{
    margin-bottom: 30px;
    position: relative;
    /* overflow-x: auto;
    overflow-y: hidden; */
    /* height: 48px; */
    overflow: visible;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
    display: inline-block;
}

.tabs .indicator{
    background-color: #1e4fa2;
    position: absolute;

}
.tabs .tab a:hover, .tabs .tab a.active{
    color: #1e4fa2;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: none;
    outline: none;
}
.tabs .indicator {
    background-color: #1e4fa2;
    bottom: -15px;
    height: 5px;
    /* width: 170px; */
    position: absolute;
}
.tabs .tab{
    margin-right: 30px;
    }
.tabs .tab a{
    color: #1e4fa2;
    padding: 0;
}

.tabs:before {
    content: "";
    width: 780px;
    height: 5px;
    background-color: #cccac6;
    z-index: -1;
    display: block;
    position: absolute;
    left: -205px;
    bottom: -15px;
}
.usecases img{
    position: relative;
}
.usecases__left{
    position: relative;
}
.usecases__left:before {
    content: "";
    width: 90%;
    height: 285px;
    background-color: #dfc7ad;
    display: block;
    position: absolute;
    left: -200px;
    bottom: 40px;
    z-index: -1;
}
.usecases__left p{
    margin-bottom: 90px;
    margin-top: 80px;
    color: #1a284c;
    font-size: 20px;
    font-weight: 400;
}


.tab-cases__cards{
    display: flex;
    flex-wrap: wrap;
}
.tab-cases__cards-item{
    width: 45%;
    height: 300px;
    margin-right: 15px;
    margin-bottom: 30px;
    position: relative;
}

.tab-cases__cards-item span {
    color: #9bbbe3;
    font-size: 45px;
    font-weight: 700;
    position: absolute;
    top: 35px;
    left: 40px;
}
.tab-cases__cards-item p{
    color: #4a74b3;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 40px;
    bottom: 0;
}

.tab-cases__cards-cubes {
    background: url(../img/cubes2.png) no-repeat 50px 0px / contain;
    background-color: #fafafa;
    background-size: 80%;
}
.tab-cases__cards-dotes{
    background: url(../img/dotes2.png) no-repeat 50px 0px / contain;
    box-shadow: 20px 23px 56px 4px #d1cdc7;
    background-color: #dfc7ad;
}
.tab-cases__cards-lines{
    background: url(../img/lines2.png) no-repeat 50px 0px / contain;
    background-color: #082774;
}
.tab-cases__cards-all{
    background-color: #f0eeef;
    position: relative;
}
.tab-cases__cards-dotes span,
.tab-cases__cards-lines span{
    color: #fff;
}

.tab-cases__cards-all p {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}
.tab-cases__cards-all img {
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
    margin: auto;
}
.tab-cases__cards{
    display: flex;
}


/* //footer section */
.footer{
    position: relative;
    padding-top: 70px;
    padding-bottom: 50px;
}

footer h2{
    color: #f3d5b4;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 50px;
}

.footer-wrapper{
    display: flex;
}
.footer-wrapper__left{
    width: 70%;
}
.footer-wrapper__right {
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
}
.footer:before{
    content: "";
    width: 70%;
    height: 100%;
    background-color: #1e4fa2;
    position: absolute;
    bottom: -20px;
    left: 75px;
    z-index: -1;

}
.footer-group{
    display: flex;
    flex-wrap: wrap;
}

.footer-group__box {
    position: relative;
    margin-bottom: 30px;
}
.footer-group__box-input {
    padding: 10px 0 18px 0;
    display: block;
    width: 100%;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.footer-group__box-input:focus{
    border-bottom: 1px solid #f3d5b4;
    -webkit-box-shadow: 0 1px 0 0 #f3d5b4;
    box-shadow: 0 1px 0 0 #f3d5b4;
    color: #fff;
}
.footer-group__box-input::placeholder{
    padding-left: 5px;
}
.footer-group__box label {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    top: 15px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
    padding-left: 5px;
}
.footer-msg textarea{
    padding-left: 5px;
}
.footer-group__box {
    width: 45%;
    margin-right: 80px;
}
.footer-group__box:nth-child(2n) {
    margin-right: 0;
}
.footer-msg{
    width: 100%;
}
.footer-group__btn{
    display: flex;
}
.footer-btn{
    font-size: 20px;
    color: #f3d5b4;
    font-weight: 500;
    box-shadow: 8px 9px 27px 5px rgba(14, 53, 119, 0.5);
    border-radius: 24px;
    border: none;
    background-color: #1e4fa2;
    padding: 15px 33px;
    margin-left: auto;
}
.footer-cart a {
    color: #1a284c;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
}
.footer-cart li{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer-msg .footer-group__box-input{
    min-height: 100px;
}
.footer-msg textarea{
    outline: none;
    min-height: 100px;
    border: 1px solid #f3d5b4;
    
}
.footer-msg textarea::-webkit-scrollbar-corner {
     background: none
}
.footer-msg textarea::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */

}
/* .footer-msg textarea::-webkit-scrollbar-button { 
     background-color: red; 
} */
.footer-msg textarea::-webkit-scrollbar-thumb { 
    height: 10px; 
    background-color: #f3d5b4; 
    border-radius: 3px;
}
.footer-group__box-input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #fff;
}
.footer-msg .footer-group__box-input:focus ~ label, .footer-msg input:valid ~ label {
    top: -25px;
    font-size: 14px;
    color: #fff;
}
.footer-cart {
    margin-left: 50px;
    position: absolute;
    background-color: #f3d5b4;
    display: block;
}
.footer-cart:before {
    content: "";
    width: 492px;
    height: 446px;
    background-color: #f3d5b4;
    display: flex;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -85px;
    z-index: -1;
}


@media (max-width: 1550px){

    .footer-group__box{
        width: 40%;
        margin-right: 50px;
    }
    .footer-cart {
        margin-left: 110px;
    }    
    .footer-cart:before{
        width: 400px;
        height: 380px;
        right: -45px;
    }
    .footer-msg {
        color: #fff;
        width: 85%;
    }

}
@media (max-width: 1250px){
    .main-bg__cart{
        right: 35px;
    }
    .footer-cart:before{
        width: 360px;
        height: 320px;
        right: -15px;
    }
    .footer-cart {
        margin-left: 80px;
    }   
}


/* 

//  ---===ABOUT PAGE===--- ///

*/

.about-main__text {
    max-width: 45%;
}
.about-main{
    position: relative;
    margin: 70px 0;
}
.about-main h1{
    color: #1e4fa2;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    /* Text style for "About" */
    letter-spacing: -1px;
}
.about-main__top-text{
    width: 47%;
}
.about-main__top-text p{
    color: #1e4fa2;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;   
}
.about-main__top-text__bg{
    color: #1a284c;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    background-color: #dfc7ad;
    padding: 50px;
}
.about-main__top-bg{
    background: url(../img/aboutnew.png) no-repeat center / cover;
    width: 52.5%;
    height: 714px;
    position: absolute;
    top: -50px;
    right: 0;
}
.about-main__text-long{
    color: #1a284c;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}
 /* --==howitworks section==-- */
 
.about-howitworks{
    background-color: #f0eeef;
    padding: 80px 0 20px;
}
.about-howitworks h2{
    color: #1e4fa2;
    font-size: 36px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
}
.about-howitworks__schema {
    position: relative;
}
.about-howitworks__schema img{
    width: 100%;
}
.about-howitworks__schema-dowload {
    position: absolute;
    bottom: 50px;
    right: 0;
    color: #1e4fa2;
    z-index: 1;
}
.about-howitworks__schema-dowload:hover{
    color: #06266b;

}
.about-howitworks__schema-dowload img{
    vertical-align: middle;
    margin-left: 30px;
    max-width: 20px;
}   
.modal{
    max-height: 70%;
    width: 80%;
}
.modal{
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #1e4fa2;
}
.modal img{
    width: 100%;
    max-height: 500px;
}
.modal .modal-content{
    padding-bottom: 0;
}
.modal .modal-content h2{
    margin-top: 25px;
}
.modal-footer a {
    background-image: linear-gradient(to right, #113787 0%, #6e8bbd 100%);
    color: #fff;
    padding: 5px 15px;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 15px;
}
.modal-close__x{
    position: absolute;
    top: 5px;
    right: 15px;
}

.about-hardware{
    position: relative;
    padding-top: 40px;
}
.about-hardware__wrapper{
    display: flex;
}
.about-hardware__wrapper-left {
    width: 60%;
}

.about-hardware__wrapper-left h2{
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 50px;
}   
.about-hardware__wrapper-left p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 800px;
    
}
.about-hardware__wrapper-left img {
    width: 100%;
}
.about-hardware__wrapper-left:before {
    content: "";
    background-color: #1e4fa2;
    height: 702px;
    position: absolute;
    top: 0;
    left: 0;
    width: 61%;
    z-index: -1;
}
.about-hardware__wrapper-right__list-item{
    position: relative;
}




.about-hardware__wrapper-right{
    width: 40%;
}
.about-hardware__wrapper-right__list{
    display: inline-block;
    margin-left: 200px;
    margin-top: 110px;
}
.about-hardware__wrapper-right__list span{
    margin-left: 10px;
}
.about-hardware__wrapper-right__list-item:last-child {
    margin-bottom: 0;
}

.about-hardware__wrapper-right__list-item {
    margin-bottom: 50px;
}
.about-hardware__wrapper-right__list-item::before {
    width: 65px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -70px;
    display: block;
}
.about-hardware__wrapper-right__list-temperature::before{
    content: "";
    background: url(../img/icons/temperature.svg) no-repeat center  / contain;
}
.about-hardware__wrapper-right__list-humidity::before{
    content: "";
    background: url(../img/icons/Humidity.svg) no-repeat center  / contain;
}
.about-hardware__wrapper-right__list-wind::before{
    content: "";
    background: url(../img/icons/wind.svg) no-repeat center  / contain;
}
.about-hardware__wrapper-right__list-acoustic::before{
    content: "";
    background: url(../img/icons/ACOUSTIC.svg) no-repeat center  / contain;
}
.about-hardware__wrapper-right__list-co2::before{
    content: "";
    background: url(../img/icons/CO2.svg) no-repeat center  / contain;
}
.about-hardware__wrapper-right__list-air::before{
    content: "";
    background: url(../img/icons/AQI.svg) no-repeat center  / contain;
}
.about-hardware__wrapper-right__list-atmospheric::before{
    content: "";
    background: url(../img/icons/Pressure.svg) no-repeat center  / contain;
}


.about-software{
    padding: 70px 0;
}
.about-software__wrapper{
display: flex;
}

.about-software__wrapper-left{
    width: 53%;
    margin: 5px;

}
.about-software__wrapper-left h2{
    color: #1e4fa2;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 95px;
}
.about-software__wrapper-left p{
    color: #1a284c;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.about-software__wrapper-right{
    width: 47%;
    margin: 5px;
    display: flex;
}
.about-software__wrapper-right img{
    width: 100%;
}

.footer-about{
    background-color: #f0eeef;
    padding: 30px 0;
}
.footer-about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-about__wrapper-right ul {
    overflow: overlay;
    margin: 0;
    margin-right: 35px;
}
.footer-about__wrapper-right{
    display: flex;
}
.footer-about__wrapper-right ul li{
    float: left;
}
.footer-about__wrapper-right ul li:last-child a::after{
    display: none;
}


.footer-about__wrapper-right ul li a {
    color: #1a284c;
    font-size: 20px;
    font-weight: 400;
    margin-right: 25px;
    transition: all .4px ease-in;
}
.footer-about__wrapper-right ul li a:hover {
    color: #113787;
}
.footer-about__wrapper-right ul li a::after {
    content: "";
    border-right: 1px solid #1a284c;
    padding-right: 15px;
}
.footer-about__wrapper-right__soc a{
    margin-right: 10px;
}
